/* HTML Editor */
#content #editor, #editorcontainer #content, #editorcontainer textarea#content, #editorcontainer textarea, div#postdivrich.postarea #editorcontainer textarea#content { font: normal 12px/1.5 Monaco, monospace !important; }

/* smilies */
img.wp-smiley { max-height: 35px;}

/* Scheduled Posts */
.status-future .column-date abbr { color: #A8C274;}

/* Dashboard */
.postbox .inside,
.stuffbox .inside,
#the-comment-list .comment-item h4,
p, .wp_attachment_details label[for="content"],
#dash-right-now .sub p {
	font-size: 14px;
}

#dash-right-now .sub {
    color: #666;
}

#future-posts ul span, #published-posts ul span {
    color: #999;
}

#dashboard-widgets .postbox .inside {
margin-bottom: 0px;
}

form#quick-press {
display: none;
}

#wpbody-content #dashboard-widgets #postbox-container-1 {
width: 49.5%!important;
}
