.flf-rating {
    display: inline-flex;
	margin-bottom: 20px;
}

.flf-rating svg {
    width: 20px;
    height: 20px;
}
.flf-rating svg#grey-star {
    fill: #808080;
}
.flf-rating svg#red-star {
    fill: #F00;
}
.flf-rating svg#gold-star {
    fill: #FFD700;
}

.flf-recap .btn {
    display: inline-block;
font-weight: 400;
line-height: 1.5;
color: #107952;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.flf-recap .btn-primary {
    color: #fff;
    background-color: #107952;
    border-color: #0d6847;
}

.flf-recap .btn-primary:hover {
color: #fff;
background-color: #0d6847;
border-color: #107952;
}

.flf-recap.w-75 {
    width: 75%!important;
}

.flf-recap.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}

.flf-recap .card-body {
flex: 1 1 auto;
padding: 1rem 1rem;
}
