/* Header */

.title-area {
	float: right!important;
}

.site-header {
	background-color: rgba(16, 121, 82, 0.9) !important;
	border-bottom: none !important;
}

.site-header .widget-area { display: none; }
@media screen and (min-width: 320px) { .site-header .widget-area { display: inline !important; float: left !important; } }

.site-title {
	margin: 10px 0!important;
}

.site-title a,
.site-title a:hover {
	color: #ffffff!important;
	border: 0;
	font-family: "Antenna", Arial, Helvetica, sans-serif;
	font-size: 41px;
	text-transform: none!important;
}

aside.header-widget-area a {
	border: none;
}

.site-description {
	color: #ffffff!important;
	padding-top: 10px;
	font-family: "Antenna", Arial,Helvetica,sans-serif!important;
	font-size: 20px;
}

h3 {
	font-family: "Antenna", Arial, Helvetica, sans-serif;
}

.jetpack_subscription_widget h3.widgettitle.widget-title {
	color: #ffffff;
}

/* Utility Bar */

.utility-pro-green .utility-bar {
	background-color: #107952!important;
}

#genwpacc-genesis-footer-widgets .textwidget {
	text-align: center;
}

.utility-bar .featured-content .entry {
	border: none;
	background: inherit;
	margin-bottom: 0px;
	padding: 0px;
}

.utility-bar a {
	color: #ffffff!important;
}

.utility-bar p {
	float: none!important;
}

/* Navigation
--------------------------------------------- */

.nav-primary .menu-item-14304 a {
	    color: #fff!important;
}
.nav-primary .menu-item-14304 a:hover {
	    color: #8f8f8f!important;
}

/* Home Welcome
--------------------------------------------- */

.home-welcome .widgettitle {
	color: #fff;
	text-transform: none;
}
@media screen and (min-width: 480px) {
	.home-welcome .widgettitle {
		font-size: 40px;
	}
}

.home-welcome p, .home-welcome .textwidget {
	color: #ebebeb;
}
@media screen and (min-width: 480px) {
	.home-welcome p, .home-welcome .textwidget {
		font-size: 20px; line-height: normal; margin-bottom: 24px;
	}
}

section.jetpack_subscription_widget h4 {
	color: #ffffff;
}

/* Call to Action
--------------------------------------------- */

.call-to-action-bar div.widget-wrap {
	text-align: center;
}

.call-to-action-bar .jetpack_subscription_widget p {
	margin: 12px; width: 90%;
}

@media screen and (min-width: 1023px) {
	.call-to-action-bar .jetpack_subscription_widget p {
		float: left; margin-bottom: 0; width: 45%;
	}
}

@media screen and (min-width: 1023px) {
	.call-to-action-bar .jetpack_subscription_widget p#subscribe-email {
		float: right;
	}
	.call-to-action-bar .jetpack_subscription_widget p#subscribe-submit {
		clear: both;
		float: right;
	}
	.call-to-action-bar .jetpack_subscription_widget input[type="submit"] {
		float: right;
		margin: -2px 0 0;
	}
	.call-to-action-bar .jetpack_subscription_widget form {
		text-align: right;
	}
	.call-to-action-bar .jetpack_subscription_widget input[type="email"] {
		height: 57px;
		position: relative;
		top: -2px;
	}
}

/* Footer
--------------------------------------------- */

.footer-widgets .widgettitle {
	text-align: center;
}

div.footer-widgets svg {
	fill: #eee;
	margin: 2px;
}

div.footer-widgets svg:hover {
	fill: #FFF;
}

/* Search
--------------------------------------------- */

.search-form [type="submit"] {
	height: 53px!important;
}

/* Widgets
--------------------------------------------- */

section#text-15 div.widget-wrap {
	border-top: none!important;
}

/* Posts
--------------------------------------------- */

body.home .entry-content p {
	float: left;
}

.entry-header .entry-meta {
	font-style: italic;
}

.entry-categories, .entry-tags {
	display: inline;
	padding: 0 10px;
}

/* Comments
--------------------------------------------- */

div#comments {
	background: #ffffff;
}

a.comment-reply-link, a.comment-edit-link {
	background: #107952;
	color: #ffffff;
	padding: 10px;
	text-transform: uppercase;
	border: 1px solid #107952;
}

a.comment-reply-link:hover, a.comment-edit-link:hover {
	background: #ffffff;
	color: #107952;
}

.comment {
	background: #eee;
	padding: 5px;
	margin-bottom: 20px;
}

.entry-comments .comment-reply {
	margin-bottom: 10px;
}

.comment-header:after {
	content: '';
	display: block;
	clear: both;
}

.comment .avatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.comment-meta.commentmetadata {
	margin-bottom: 0px;
}

/* Search */

.header-widget-area .search-form {
	height: 53px;
	margin: 20px auto 0;
	width: 300px;
}

.search-form span {
	display:none;
}

/* Gallery */

.gallery-columns-0 dl.gallery-item,
.gallery-columns-0 figure.gallery-item {
	width: auto!important;
	padding: 0;
	margin: 5px;
}

.gallery-columns-0:after {
	clear: both;
	content: "";
	display: table;
	padding-bottom: 10px;
}

/* Ads */

.jf-adboxes, .jfo-adboxes {
	margin-top: 5px;
	text-align: center;
}

.adboxes-footer { display: none; }

@media screen and (min-width: 1023px) {
	.adboxes-footer {
		padding: 10px;
		display: inline !important;
	}
}

.adboxes-footerwidget {
	text-align: center;
	padding: 0px 40px 24px;
}

.adboxes-footerwidget div {
	text-align: center;
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}

.jf-adboxes table, .jf-adboxes tbody, .jf-adboxes tr, .jf-adboxes td,
.jfo-adboxes table, .jfo-adboxes tbody, .jfo-adboxes tr, .jfo-adboxes td {
	border: none!important;
	padding: 0px!important;
	margin: 0px!important;
	line-height: 1;
}

section#text-8.widget {
	padding: 10px 15px;
}

/* Jetpack
 * ------------------------------------------------------------ */

.post-likes-widget.jetpack-likes-widget {
	min-height: 60px;
}

div label.grunion-field-label span {
	padding-left: 5px;
}

/* Videos */

div.type-video div.post-meta, div.type-video span.post-comments, article.video .entry-categories {
	display:none;
}

div.type-video div.entry-content {
	border-bottom: #EEE 4px solid;
	padding: 5px 0;
}

article.videos article.indexalbum {
	margin: 5px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
}
div.albumdesc h3 {
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.entry-meta-copyright {
	color: #545454;
	font-size: 14px;
}

/* Embed padding */

.responsive-oembed {
	padding-bottom: 24px;
}

/* Attachments */

article.attachment div.entry-meta, article.attachment p.entry-meta {display: none;}

/* Grins */

#qt_comment_toolbar input[type="button"] {
	background: none !important;
	color: #000;
	padding: 5px;
	margin: 5px;
	border: none;
}

#qt_comment_toolbar input[type="button"]:hover {
	color: #F00;
}

#qt_comment_strong {
	font-weight: bold;
}

#qt_comment_em {
	font-style: italic;
}

div#qt_comment_toolbar {
	border-top: 1px solid #CCC;
	background-color: #E9E9E9;
	background-image: -ms-linear-gradient(bottom,#e9e9e9,#ddd);
	background-image: -moz-linear-gradient(bottom,#e9e9e9,#ddd);
	background-image: -o-linear-gradient(bottom,#e9e9e9,#ddd);
	background-image: -webkit-linear-gradient(bottom,#e9e9e9,#ddd);
	background-image: linear-gradient(bottom,#e9e9e9,#ddd);
	padding: 2px 8px 0;
	min-height: 28px;
}

div#wp_grins {
	border-bottom: 1px solid #ccc;
	background-color: #e9e9e9;
	background-image: -ms-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -moz-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -o-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -webkit-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: linear-gradient(bottom,#ddd,#e9e9e9);
	padding: 2px 8px 0;
	min-height: 28px;
}

/* Pop up ish footer thing */

#bit, #bit * {}
#bit {
	bottom: -300px;
	font-size: 13px;
	font-family: "Helvetica Neue",sans-serif;
	position: fixed;
	right: 10px;
	z-index: 999999;
	width: 320px;
}

#bit a.bsub {
	background-color: #464646;
	background-image: -moz-linear-gradient(center bottom , #3F3F3F, #464646 5px);
	background: -webkit-gradient(linear, left top, left bottom, from(#3F3F3F), to(#464646));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F3F3F', endColorstr='#464646');
	border: 0 none;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
	color: #CCCCCC;
	display: block;
	float: right;
	font: 13px/28px "Helvetica Neue",sans-serif;
	letter-spacing: normal;
	outline-style: none;
	outline-width: 0;
	overflow: hidden;
	padding: 0 10px 0 8px;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 #444444;
}

#bit a.bsub {
	border-radius: 2px 2px 0 0;
}

#bit a.bsub span {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-position: 2px 3px;
	background-repeat: no-repeat;
	background-size: 20% auto;
	padding-left: 3px;
}

#bit a:hover span, #bit a.bsub.open span {
	color: #ffffff !important;
}

#bit a.bsub.open {
	background: none repeat scroll 0 0 #333333;
}

#bitsubscribe {
	background-color: #FFF;
	border-radius: 2px 0 0 0;
	color: #464646;
	margin-top: 27px;
	padding: 5px;
	width: 320px;
	float: right;
	margin-top: 0;
}

#bitsubscribe iframe {
	width: 100%;
}

div#bitsubscribe.open {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#bitsubscribe div {
	overflow: hidden;
}

#bit #bitsubscribe p {
	color: #333333;
	font-size: 15px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0 0 1em;
}

#bitsubscribe p a {
	margin: 20px 0 0;
}

#bitsubscribe.open {
	display: block;
}

#bit .bsub span {
	background-image: url(/static/content/images/caret-arrow-up.svg);
	padding: 2px 0 0 22px!important;
}

#bit .bsub.open span {
	background-image: url(/static/content/images/caret-down.svg);
	padding: 2px 0 0 22px!important;
}

#bsub-subscribe-button {
	margin: 0 auto;
	text-align: center;
}

/* Ooookay */

@media only screen and (min-width: 1023px) {
	.wrap {
		max-width: 1140px; padding: 0;
	}
	.title-area {
		text-align: left; width: 65%; padding-top: 30px;
	}
	.site-header .widget-area {
		text-align: right; width: 35%;
	}
	.content { float: right; width: 66%; margin-right: 0px !important; }
	.content-sidebar .content, .sidebar-content .sidebar-primary { float: left; }
	.sidebar-primary { float: right; width: 31.5%; }
	.menu-primary { display: inline-block; }
	.genesis-nav-menu .menu-item { display: inline-block; }
	.genesis-nav-menu > .menu-item > a { border-bottom: 0; }
	.genesis-nav-menu .sub-menu { display: block; left: -9999px; margin: 0; opacity: 0; position: absolute; -webkit-transition: opacity 0.4s ease-in-out; -moz-transition: opacity 0.4s ease-in-out; -ms-transition: opacity 0.4s ease-in-out; -o-transition: opacity 0.4s ease-in-out; transition: opacity 0.4s ease-in-out; width: 200px; z-index: 99; }
	.genesis-nav-menu .sub-menu a { letter-spacing: 0; width: 200px; }
	.genesis-nav-menu .sub-menu .sub-menu { margin: -54px 0 0 199px; }
	.genesis-nav-menu .menu-item:hover { position: static; }
	.home-gallery-1, .home-gallery-2, .home-gallery-3, .home-gallery-4 { width: 25%; } }
